{% extends 'base.html.twig' %}

{% block title %}Liste des Entreprises{% endblock %}

{% block body %}
    <h1>liste des entreprises</h1>

<p>

    {% for entreprise in entreprises %}

        <a href="{{path('show_entreprise', {'id' : entreprise.id})}}">{{entreprise}}</a><br>
        
    {% endfor %}
</p>
    
{% endblock %}
